* {
  margin: 0;
  padding: 0;
}

 /* Estilados por defecto para la pagina */
html {
  scroll-behavior: smooth;
}
body{

  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #0A1424;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

small {
  font-style: oblique;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

i {
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  color: white;
}

strong {
  font-weight: 500;
  color: rgb(252, 127, 82);
}
 /* Distibucion de la pagina con grid */
.layout{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: repeat(auto-fill min(200px 100vh));

}

  /* Estilado de la barra de navegacion */
.navbar {
  z-index: 1;
  width: 100%;
  position: fixed;
  margin-top: 7px;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 40px;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  line-height: 15px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: rgba(168, 176, 189, 0);
  backdrop-filter: blur(100px);
}

.navbar img{
  justify-self: center;
  width: 90%;
}

.navbar ul{
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center;
  gap: 12px;
}

.navbar ul li a{
  text-decoration: none;
  color: aliceblue;
}

  /* Estilado del apartado home */

  /* Separacion del titulo y Sobre mi ulilizando grid  */
.home{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  background-image: url(img/Ilustración.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

  /* Estilado del titulo */

.headergroup{
  order: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* background-color: #5F708A; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.headergroup hgroup {
  box-sizing: border-box;
  color: white;
  height: 500px;
  width: 290px;
  background-color: rgba(168, 176, 189, 0);
  backdrop-filter: blur(50px);
  background-image: url(img/Ilustración5.png);
  background-repeat: repeat;
  border-radius: 3px;
  writing-mode: vertical-lr;
  padding-top: 15px;
}

  /* Estilado del Sobre mi */

.headergroup article {
  box-sizing: border-box;
  height: 500px;
  width: 290px;
  border-radius: 3px;
  color: #0A1424;
  background-color: white;
  background-repeat: repeat;
  padding: 20px;
}

  /* Estilado del apartado de mis ilistraciones */

  /* utilizar grid para la composicion de imgenes en la pagina para que sea automatico */

#illustrations {
  padding-top: 15px;
  text-align: center;
  width: 100%;
}


.iframes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 20px;
  gap: 16px;
}

#contact {
  text-align: center;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #2A3C57;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
}

#contact a {
  color: rgb(252, 127, 82);
}
  /* Esconder scrollbar predeterminado */

::-webkit-scrollbar{
  display: none;
}

/* 
    Paleta de colores a utilizar

            #2A3C57
            #5F708A
            #0A1424
            #A8B0BD
            #AAC6F0 

*/
